body{
background-color:black;
}
h1{
font-size:65px;
padding:100px;
height:600px;
width:1450px;
color:hotpink;
background-image:src("https://i.pinimg.com/originals/28/ae/37/28ae37d9cc4d92103c3bc75a29df91a8.jpg");

}
h2{

font-size:125px;
color:hotpink;
}
h3{
color:white;

}
h4{
color:white;
}
center{
font-size:15px;
}
.sobre{
color:black;
font-size:45px;
background-color:white;
padding:100px;


}
.videos
{

color:black;
font-size:45px;
background-color:pink;
padding:100px;

}
